.dashboard-text {
    color:white;
    background-image: linear-gradient(rgb(109, 182, 255), yellow );
    text-align: center;
    padding: 10px;
    padding-top: 5px;
}

.card {
    display: flex;
}

.row {
    margin: 0px;
}

.btn {
    background-color: cornflowerblue;
    color: white;
}

.card-body {
    background-color: rgb(109, 182, 255);
    color:white;
    border-radius: 5px;
    padding: 12px;
    padding-top: 0;
    margin: 10px;
}

.btn-primary {
background-color: rgba(232, 231, 231, 0.166);
color:black
}

button {
    display:block;
    height: 30px;
    width: 140px;
    background-color: yellow;
    margin: 10px;
    padding: 2px;
    border-radius: 3px;
    font: bold;
}

.button-div {
    width:150px;
    height:250px;
    overflow-y: scroll
}